body{
    font-size: 25px;
    font-family: cursive;
    padding: 16px;
    margin: 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/10/20/18/35/sunrise-1756274__340.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top center;
    background-size: cover;
    width: auto;
    margin: auto;
}
.container{
    height: 95vh;
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header"
        "side   banner banner calcu"
        "side   main   main   main";
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid gold;
    background-color: white;
    background: linear-gradient(to bottom, white, transparent);
}
.header{
    grid-area: header;
    padding: 16px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    border-bottom: solid green;
}
.side{
    grid-area: side;
    border-right: solid red;
    font-size: 20px;
}
.side{
    height: 96.%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px repeat(14);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.side div:nth-child(odd){
    border-bottom: dotted red;
    text-align: center;
    width: 100%;
    height: 29px;
}
.side div:nth-child(even){
    border-bottom: solid black;
    text-align: center;
    width: 100%;
}
.banner{
    grid-area: banner;
    padding: 16px;
}
.main{
    grid-area: main;
    padding: 16px;
    border-top: solid blue;
    color: white;
}
.calcu{
    grid-area: calcu;
    border-left: black solid;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto auto auto auto auto 160px;
    grid-template-areas:
        "1 2 3"
        "4 5 6"
        "7 8 9"
        "0 / *"
        "- + +"
        "...";
    width: 100%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
}
.calcu div{
    border: solid black 1px;
    text-align: center;
}

@media (max-width: 575px){
    .container{
        display: flex;
        flex-direction: column;
        border: solid 1px black;
    }
    .banner{
        order: 1;
    }
    .main{
        order: 2;
    }
    .header{
        order: 3;
    }
    .side{
        order: 4;
    }
    .calcu{
        order: 5;
    }
}
