body{
    font-size: 25px;
    font-family: cursive;
    padding: 16px;
    margin: 0;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header"
        "side   banner banner calcu"
        "side   main   main   main";
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid gold;
}

.header{
    grid-area: header;
    padding: 16px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    border-bottom: solid green;
}
.side{
    grid-area: side;
    padding: 16px;
    border-right: solid red;
}
.banner{
    grid-area: banner;
    padding: 16px;
}
.main{
    grid-area: main;
    padding: 16px;
    border-top: solid blue;
}
.calcu{
    grid-area: calcu;
    border-left: black solid;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto auto auto auto auto 160px;
    grid-template-areas:
        "1 2 3"
        "4 5 6"
        "7 8 9"
        "0 / *"
        "- + +"
        "...";
    width: 100%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
}
.calcu div{
    border: solid black 1px;
    text-align: center;
}

