body{
    background-color: black;
    color: white;
}
.game{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding-top: 80px;
}
.box{
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-size: 150px;
}
#topleft{
    border-right: solid 3px white;
    border-bottom: solid 3px white;
}
#topright{
    border-left: solid 3px white;
    border-bottom: solid 3px white;
}
#middle{
    border: solid 3px white;
}
#bottomleft{
    border-top: solid 3px white;
    border-right: solid 3px white;
}#bottomright{
    border-top: solid 3px white;
    border-left: solid 3px white;
}