body{
    margin: 0;
}
header{
    text-align: center;
    border: solid blue;
    margin-bottom: 20px;
}
h1{
    font-size: 100px;
    font-family: fantasy;
}
.contain1{
    position: relative;
    text-align: center;
    color: yellow;
    width: 100%;
}
.contain1 img{
    width: 100%;
}
.info{
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 30px;
    text-align: left;

}
h2{
    font-style: italic;
}
h3{
    text-decoration: underline;
}
.contain2{
    display: inline-block;
}