body,html {
    background-color: black;
    color: red;
    height: 100%;
}
header{
    text-align: center;
}
.one{
    border: solid 1px red;
    width: 900px;
    height: 600px;
    margin-left: 490px;
    margin-top: 100px;
    justify-content: center;
    box-shadow:  0px 0px 40px 15px red;
}
.gong{
    height: 600px;
}
#status{
    border: solid 1px red;
    height: 50px;
    width: 80px;
}
.levels{
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    margin-top: 70px;
    color: yellow;
}
.monk{
    padding: 5px;
    margin: 0 20px;
    border: solid 1px red;
}
.fu{
    padding: 5px;
    margin: 0 20px;
}
.yoda{
    padding: 5px;
    margin: 0 20px;
}
.bud{
    padding: 5px;
    margin: 0 20px;
}
